body {
    background-color: #1f5d30;
    padding: 40px;
    color: white;
}

a {
    color: white;
}

.tile {
    width: 40px;
    height: 56px;
    margin-right: 2px;
}

.tenbo {
    width: 156px;
    height: 12px;
}

.face {
    fill: #f2f2f2;
}

.back {
    fill: #ffba1e;
}

.after-meld .face {
    fill: #d0ffe4;
}

.tsumogiri .face {
    fill: #bbbbbb;
}

.winds {
    font-size: 20px;
}

.mr {
    margin-right: 15px;
    display: inline-block;
}

.rotate {
    width: 56px;
    height: 56px;
    transform: rotate(-90deg) translate(-8px, 0);
}

#discards {
    width: 280px;
}