mahjong==1.2.0.dev5

tensorflow==2.4.1
tensorflow-gpu==2.4.1
Keras==2.4.3
tensorflow-io==0.17.0

h5py==2.10.0
hickle==4.0.1

pandas==1.2.2
numpy==1.19.2
scikit-learn==0.24.1

# it requires "sudo apt-get install python3-tk"
matplotlib==3.3.3

tqdm==4.54.1

# for formatting, linters and tests
isort==5.6.4
black==20.8b1
flake8==3.8.4
flake8-bugbear==20.11.1